.login-form {
  margin: auto;
  max-width: 700px;
  margin-top: 10%;
}

.center-form {
  margin: auto;
  max-width: 700px;
}

.mt-16 {
  margin-top: 16px;
}

#checkbox-form {
  overflow: hidden;
}

.ml-12 {
  margin-left: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.notify {
  max-height: 300px;
  overflow-y: scroll !important;
}

.detailBox {
  border: 1px solid #bbb;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
  width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
  width: 18%;
}

.actionBox .form-group * {
  width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  height: min-content;
  overflow: auto;
}

.commentList li {
  margin: 0;
  margin-top: 10px;
}

.commentList li>div {
  display: table-cell;
}

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}

.commenterImage img {
  width: 100%;
  border-radius: 50%;
}

.commentText p {
  margin: 0;
}

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}

.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}

.action-comment {
  font-size: 10px;
  margin-top: 5px;
}

.cursor-pointer {
  cursor: pointer
}

.top-30p {
  top: 30%;
}

.w-100 {
  width: 100%;
}

.w-97 {
  width: 97% !important;
}

.comment-form {
  margin-top: 70px !important;
  margin: auto;
  width: 85%;
}

.pl-0 {
  padding-left:  0px;
}
