<div class="row">
  <div class="detailBox col-md-12">
      <div class="titleBox">
        <label>Comment Box</label>
      </div>
      <div class="actionBox">
          <ul class="commentList">
            <%= render @comments %>
          </ul>
          <%= render "new_comment" %>
      </div>
  </div>
</div>
