<% provide :title, t(".title") %>
<% provide :button_text, t(".submit") %>
<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1 class="text-center">
        <%= gravatar_for @report.from_user, Settings.user.small_avatar_height, Settings.user.small_avatar_height, "rounded-circle " %>
        <%= @report.from_user.full_name %>
      </h1>
    </section>
  </aside>
</div>
<div class="center-form">
  <%= render "view_report" %>
</div>
<div class="comment-form">
  <%= render "all_comments" %>
</div>
